.header-nav {
  background: #3b621c;
}

.header-nav .nav-link {
  display: inline-block;
  padding: 15px 25px 15px;
}

.header-nav .nav-link,
.header-nav .nav-link:visited {
  color: #fff;
  text-decoration: none;
  display: block;
}
.header-nav .nav-link:hover {
  background: #487922;
}
nav {
  display: flex;
}
